.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.toolbar__btn {
  min-width: 150px;
  background: white;
  border-radius: 5px;
}

.toolbar__btn-selected {
  min-width: 150px;
  background: blue;
  color: aliceblue;
  font-weight: 700;
  border-radius: 5px;
}

.container__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.image__container {
  margin: 15px;
  text-align: center;
  width: 30%;
}
